body {
  background: #eee;
  font-family: Georgia;
  margin: 0;
}

button:focus {
  outline: none;
}

input:focus {
  outline: none;
}

.big-lorem-ipsum {
  font-size: 50px;
  font-weight: 300;
  margin: 0 auto;
  max-width: 15em;
}

.main-content {
  margin-left: 2%;
}
